@mixin fa-dark-theme-vars {
	/* 成功色 */
	--wot-success-main: #67c23a;
	--wot-success-hover: #5fb136;
	--wot-success-clicked: #579f33;
	--wot-success-disabled: #3e6b27;
	--wot-success-particular: #2d4920;
	--wot-success-surface: #1d2618;

	/* 警告色 */
	--wot-warning-main: #e6a23c;
	--wot-warning-hover: #d19438;
	--wot-warning-clicked: #bc8634;
	--wot-warning-disabled: #7d5b28;
	--wot-warning-particular: #533f20;
	--wot-warning-surface: #292318;

	/* 危险色 */
	--wot-danger-main: #f56c6c;
	--wot-danger-hover: #df6363;
	--wot-danger-clicked: #c85b5b;
	--wot-danger-disabled: #854040;
	--wot-danger-particular: #582f2f;
	--wot-danger-surface: #2b1d1d;

	/* 深色中性色 */
	--wot-text-main: #e5eaf3;
	--wot-text-secondary: #cfd3dc;
	--wot-text-auxiliary: #a3a6ad;
	--wot-text-placeholder: #8d9095;
	--wot-text-disabled: #6c6e72;
	--wot-text-white: #ffffff;
	--wot-icon-main: #e5eaf3;
	--wot-icon-secondary: #cfd3dc;
	--wot-icon-auxiliary: #a3a6ad;
	--wot-icon-placeholder: #8d9095;
	--wot-icon-disabled: #6c6e72;
	--wot-icon-white: #ffffff;
	--wot-border-extra-strong: #636466;
	--wot-border-strong: #58585b;
	--wot-border-main: #4c4d4f;
	--wot-border-light: #414243;
	--wot-border-white: #ffffff;
	--wot-border-zero: transparent;
	--wot-filled-extra-strong: #424243;
	--wot-filled-strong: #39393a;
	--wot-filled-content: #262727;
	--wot-filled-bottom: #0a0a0a;
	--wot-filled-oppo: #141414;
	--wot-filled-zero: transparent;
	--wot-divider-main: #363637;
	--wot-divider-light: #2b2b2c;
	--wot-divider-strong: #414243;
	--wot-divider-white: #ffffff;
	--wot-feedback-hover: rgba(255, 255, 255, 0.04);
	--wot-feedback-active: rgba(255, 255, 255, 0.08);
	--wot-opacfilled-tooltip-toast-cover: rgba(0, 0, 0, 0.8);
	--wot-opacfilled-main-cover: rgba(0, 0, 0, 0.7);
	--wot-opacfilled-light-cover: rgba(0, 0, 0, 0.5);
	--wot-picker-view-mask-start-color: rgba(0, 0, 0, 0.8);
	--wot-picker-view-mask-end-color: rgba(0, 0, 0, 0.3);

	/* 页面遮罩和阴影 */
	--fa-mask-color: rgba(0, 0, 0, 0.8);
	--fa-mask-color-extra-light: rgba(0, 0, 0, 0.3);
	--fa-box-shadow: 0rpx 24rpx 64rpx 8rpx rgba(0, 0, 0, 0.36), 0rpx 16rpx 40rpx rgba(0, 0, 0, 0.72);
	--fa-box-shadow-light: 0rpx 0rpx 24rpx rgba(0, 0, 0, 0.72);
	--fa-box-shadow-lighter: 0rpx 0rpx 12rpx rgba(0, 0, 0, 0.72);
	--fa-tabbar-box-shadow: 0 -8rpx 28rpx rgba(0, 0, 0, 0.48);
}
